<title>Company App</title>

<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
<link rel="stylesheet" type="text/css" href="/styles/base.css" />
<link rel="stylesheet" type="text/css" href="/styles/modules.css" />

<!-- link fontawesome icons via CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
