<div class="header">
    <span class="hamburger fas fa-bars fa-2x"></span>
    <h1>CoSearch</h1>
</div>

<section class="nav">
    <ul>
        <a href="../">
            <li>
                <span class="fas fa-home fa-2x"></span>
                <p>Home</p>
            </li>
        </a>
        
        <a href="/">
            <li>
                <span class="fas fa-search fa-2x"></span>
                <p>Search</p>
            </li>
        </a>

        <a href="../about">
            <li>
                <span class="fa fa-info-circle fa-2x"></span>
                <p>About</p>
            </li>
        </a>

        <a href="../results">
            <li>
                <span class="fa fa-plus fa-2x"></span>
                <p>Create New</p>
            </li>
        </a>

    </ul>
</section>