<div class="header">
    <span class="hamburger fas fa-bars fa-lg"></span>
    <h1>The Company App</h1>
</div>

<section class="nav">
    <ul>
        <li>
            <span class="fas fa-home"></span>
            <p>Home</p>
        </li>
        <li>
            <span class="fas fa-search"></span>
            <p>Search</p>
        </li>
        <li>
            <span class="fas fa-save"></span>
            <p>Saved</p>
        </li>
        <li>
            <span class="fa fa-info-circle"></span>
            <p>About</p>
        </li>
        <li>
            <span class="fa fa-plus"></span>
            <p>Create New</p>
        </li>
    </ul>
</section>