<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>
    <main>
      <p class="theNorris"><%= error %></p>
    </main>
    
  </body>
</html>