<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <header><%- include('partials/header.ejs') %></header>
    <main>
      <section class="">
        <ul class="" id="">
          <% results.forEach( company => { %>
          <section class="company">
            <%- include('partials/form', {formAction: 'update', company: company}) %>
          </section>
          <% }) %>
        </ul>
      </section>
    </main>

    <footer><%- include('partials/footer') %></footer>
  </body>
</html>