<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <header><%- include('partials/header.ejs') %></header>
    <main>
      <form class="searchForm" action="/results" method ="post">
            <div>
              <input class="search" type="text" name="searchTerm" placeholder="Enter company here"></input>
              <button type="submit">Search</button>
            </div>
      </form>
        <ul class="" id="">
          <% results.forEach( company => { %>
          <section class="company">
            <%- include('partials/form', {formAction: 'update', company: company}) %>
          </section>
          <% }) %>
        </ul>
    </main>

    <footer><%- include('partials/footer') %></footer>
  </body>
</html>