
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*     about page specific styling     */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* company and people sections */
section.company, section.people {
  background-color: var(--section-bkg);
}

  /* about section */
.people {
  display: flex;
  flex-wrap: wrap; 
  padding: 10px;
  box-shadow: 4px 4px var(--dropbox-color);
  margin: 10px;
  border-radius: 5px;
}

  /* profile pic */
section.people .imgContainer img {
  width: 100%;
  border-radius: 50%;
  border: 5px dashed var(--about-border-color);
  filter: sepia(15%);
  filter: contrast(90%);
}

  /* about profile pic container */
.people .imgContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  max-width: 200px;
  width: 50%;
  margin: 3vw 25% 0% 25%;
  margin-bottom: 5px;
}

  /* about names */
.people h2 {
  font-size: var(--name);
  margin-bottom: 8px;
}

  /* about job title */
.people .title {
  font-size: var(--title);
  font-style: italic;
  font-variant: small-caps;
  margin: 0px 0px 5px 5px;
}

  /* social icons */
.people .fab {
  margin: 0px 5px 5px 5px;
  color: var(--icon-color);
  text-decoration: none;
  font-size: var(--icon);
}

  /* personal title container */
.people .titleBar {
  width: 100%;
}

/* persional bio */
.people .bio {
  line-height: 1.3;
  /* text-align: justify; */
  font-size: var(--bio);
}
